{%extends 'main.html'%}
{% load i18n %}

{%block postsAuthorName%}

    <h3>{% trans "Автор статті" %}</h3>
    <p class="postAuft"> {{post.posts_auftor_name}}</p>

{% endblock %}

{%block posts%}



        <div class="mainContent">
            <div class="content">
                        <article class="typicalArticle">
                            <header>
                                <h3><a href="{% url 'polls:detail' post.id %}">{{ post.post_header }}</a></h3>
                            </header>

                            <footer>
                                <p class="postInfo">{{post.pub_date}}</p>
                            </footer>

                                <content>
                                    {% if images%}
                                    {%for image in images%}
                                    <img src="{{ image.image.url }}" class="image">

                                    {%endfor%}
                                    {%endif%}
                                    <p>{{ post.post_text }}</p>
                                </content>

                        </article>

                        <p class = "comentTitle">{% trans "Комментарі: "%}</p>

                        {% for comment in comments %}
                                <p class="auftCommentName">{{comment.comments_auftor_name}}</p>
                                <p>{{comment.comment_text}}</p>
                                <p class="postInfo">
                                    {{comment.comment_pub_date}}
                                </p>
                        {%endfor%}
                        {%if username%}
                        <comment class = 'comment'>
                            <form action="/polls/{{post.id}}/addcomment/" method="post">
                                {% csrf_token %}
                                <p class="string">{% trans "Текст коментаря: "%}</p>
                                 <reg class="regFields">{{ form.comment_text}}</reg>

                                <input type="submit" class="button" value="{% trans "Відправти"%}"/>
                            </form>

                        </comment>
                        {%endif%}
            </div>

        </div>
{%endblock%}