{%extends "main.html"%}

{%block posts%}
        <div class="mainContent">
            <div class="content">
                     {% if post_list %}
                        {% for post in post_list %}
                        <article class="typicalArticle">
                            <header>
                                <h3><a href="{% url 'polls:detail' post.id %}">{{ post.post_header }}</a></h3>
                            </header>

                            <footer>
                                <p class="postInfo">{{post.pub_date}}</p>
                            </footer>

                                <content>
                                    <p>{{ post.post_text }}</p>
                                </content>
                        </article>
                            {% endfor %}
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}
                </div>
        </div>
{%endblock%}