body {
    background-color:#ACD2DF;
    font-size: 80%;
    font-family: 'Lucida Sans Unicode';
    line-height: 1.5;
    text-aline: left;
}

a{
    text-decolorations: none;
}

a:link, a:visited{

    color: #14B7FF;
}

a:hover,a:active{
    color: gray;
}

.body{
    margin:0 auto;
    width:75%;
    clear:both;
}

.headImg{

}

.mainHead nav{

    background-color: black;
    height: 40px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.mainHead nav ul{
    list-style: none;
    margin:0 auto;
}

.mainHead nav ul li{

    float:left;
    display: inline;
}



.mainHead nav a:link, .mainHead nav a:visited{

    color: white;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainHead nav .active a:link,
.mainHead nav .active a:visited,
.mainHead nav a:hover,
.mainHead nav a:active{

        background-color: #FFEE42;
        color: blue;
        text-shadow: none;
        font-size: 110%;
}

.sideInfo{

    word-break: break-all;
    width: 20%;
    float: left;
    padding: 10px 25px;
    margin: 2% 0% 0% 0%;
    background: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;

}

.mainContent{
    padding: 10px 25px;
    margin-top:2%;
    width:69%;
    float:right;
    line-height:20px;
    background: white;
     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.postInfo{

    font-style: italic;
    font-size: 75%;
    color: #919191;
}

.mainFooter{
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;

}

.content{
    float:left;
    width:100%;
    word-break: break-all;
     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;

}

.comment{
     float:left;
     width:70%;
}
.comentTitle{
     font-size:125%;
    color: gray;
}

.button{
    float:left;
    width:80%;
    margin-top:5%;
    margin-left:10%;
    height:10%;
     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color:#14B7FF;
    color:white;
}
.login{
    float:left;
    margin-left: 25%;


    background-color:white;
     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.string{
    float:left;
    font-family: 'Lucida Sans Unicode';
    padding-left: 10%;
}
.btn{
    width:80%;
    float:left;
    margin-left:10%;
    margin-bottom:10%;
}

.auftCommentName{

    color:green;
}

.postAuft{
    font-size: 120%;
    color:green;
}

.wrongData{
    margin:10%;
    font-size:80%;
    color: red;
}

.regWindow{
    width:20%;
    margin-top:2%;
    height:50%;
    float:left;
    background-color:white;

     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.regFields{
    float:left;
    padding-left:10%;
}
.regTitle{

    padding-left:10%;
    color: #14B7FF;
}