<DOCTYPE html>
    <html lang = "en">
    {% load staticfiles %}
    <head>
        <title>Головна сторінка</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" type="text/css" href="{% static 'userssys/style.css' %}" />
        <meta name="vieport content ="width-device-width, intital-scale =1.0">
    </head>
    <body class="body">


        <header class="mainHead">
            <nav><ul>
                <li class="active"><a href="{% url 'polls:index' %}">Головна сторінка</a></li>
                <li><a href = "#">Новини</a> </li>
                <li><a href = "#">Завантажити</a> </li>
                <li><a href = "#">Вікі</a> </li>
                {% if username %}
                    <li><a href = "/polls/auth/logout">Вийти({{username}})</a> </li>
                {%else%}
                    <li><a href = "/polls/auth/login">Увійти</a> </li>
                {%endif%}
            </ul></nav>
        </header>

        <aside class="sideInfo">
            {% block postsAuthorName %}{{ selection.postsAuthorName }}{% endblock %}
            {% block login %}{%endblock%}
            {% block register %}{%endblock%}
        </aside>

        {% block posts %}{{ selection.posts }}{% endblock %}

        <footer class="mainFooter">
            <p>Copyright &copy;2015 by Andriy Eromenko</p>
        </footer>
    </body>
</html>