<!DOCTYPE html>
    <html lang = "en">
    {% load i18n %}
    {% load staticfiles %}

    <head>
        <title></title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" type="text/css" href="{% static 'userssys/style.css' %}" />
        <meta name="vieport content ="width-device-width, intital-scale =1.0">
    </head>
    <body class="body">


        <header class="mainHead">
            <nav><ul>

                <li class="active"><a href="{% url 'polls:index' %}">{% trans "Головна сторінка" %}</a></li>
                <li><a href = "#">{% trans "Новини" %}</a> </li>
                <li><a href = "#">{% trans "Завантажити" %}</a> </li>
                <li><a href = "#">{% trans "Вікі" %}</a> </li>

            </ul></nav>
        </header>

        <aside class="sideInfo">
            {% block postsAuthorName %}{{ selection.postsAuthorName }}{% endblock %}
            {% if username %}
                {% block privateRoom %}{%endblock%}
            {%else%}
                {% block login %}{%endblock%}
            {%endif%}
            {% block register %}{%endblock%}
        </aside>

        {% block posts %}{{ selection.posts }}{% endblock %}

        <footer class="mainFooter">
            <p>Copyright &copy;2015 by Andriy Eromenko</p>
        </footer>
    </body>

</html>