<DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <title>Авторизація</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" type="text/css" href="{% static 'userssys/style.css' %}" />
        <meta name="vieport content ="width-device-width, intital-scale =1.0">
</head>
<body class="body">

    <header class="mainHead">
            <nav><ul>
                <li class="active"><a href="{% url 'polls:index' %}">Головна сторінка</a></li>
                <li><a href = "#">Новини</a> </li>
                <li><a href = "#">Завантажити</a> </li>
                <li><a href = "#">Вікі</a> </li>
                {% if username %}
                    <li><a href = "/polls/auth/logout">Вийти({{username}})</a> </li>
                {%else%}
                    <li><a href = "/polls/auth/login">Увійти</a> </li>
                {%endif%}
            </ul></nav>
        </header>

    <login class="regWindow">
        <h3 class="regTitle">Авторизація</h3>
        <form action = "/polls/auth/login/" method="post">
        {% csrf_token%}
            <p class = "string"><label for="username">Ім'я користувача</label></p>
            <reg class = "regFields"><input type="text" name="username" id="username"></reg>
            <p class = "string"><label for="password">Пароль користувача</label></p>
            <reg class = "regFields"><input type="password" name="password" id="password"></reg>
            {%if login_error%}
                <p class="wrongData">
                <label class="error">{{ login_error }}</label>
                </p>
            {%endif%}


            <input class="button" type="submit" value="Увійти">

            <p class="string"><a href="/polls/auth/register/">Реєстрація</a> </p>
        </form>
    </login>
</body>
</html>