{%extends 'main.html'%}

{%block register %}

        <h3 class="regTitle">Реєстрація</h3>
        <form action="/polls/" method="post">
        {% csrf_token %}
        <p class="string">Ім'я користувача:</p>
        <reg class="regFields">{{ form.username }}</reg>
        <p class="string">Пароль користувача:</p>
            <reg class="regFields">{{form.password1}}</reg>
            <p class = "string">Повторіть пароль:</p>
            <reg class = "regFields">{{form.password2}}</reg>
        <input type="submit" class = 'button' value="Зареєструватися">
        </form>

{%endblock%}